.main
  .reserving
    .reserving__title
      = @studio.name
      st
    .reserving__form
      = form_with url: studio_reserve_path, local: true, method: :patch do |f|
        .reserving__form__datetime
          .reserving__form__datetime__title
            日時：
          = f.select :date, @week.map{|w| [w]},
              {selected: @studio_resrve.date},
              {class: "reserving__form__datetime--date"}
          = f.select :start_hour, @hairetsu.map{|h| [h]},
              {selected: @studio_resrve.hour},
              {class: "reserving__form__datetime--time", id: "start_time"}
          時〜
          = f.select :end_hour, @hairetsu2.map{|h| [h]},
              {selected: @studio_resrve.hour + 1},
              {class: "reserving__form__datetime--time", id: "end_time"}
          時
        .reserving__form__fee
          .reserving__form__fee__title
            料金：
            %input#base_fee{type: "hidden", value: @studio.fee}/
          .reserving__form__fee__value
            #payment_fee= @studio.fee.to_s + " 円"
        = f.submit "予約する", class: "reserving__form__button"
