.mypage
  .mypage__profile
    .mypage__profile__title
      プロフィール
    = image_tag("/user_img/#{@user.img}", class: "mypage__profile__image")
    .mypage__profile__name
      = @user.last_name 
      = @user.first_name
    .mypage__profile__self-introduction
      = @user.profile
    - if user_signed_in? && current_user.id == @user.id
      .mypage__profile__links
        .mypage__profile__links__link
          = link_to "プロフィールを変更", edit_user_path(current_user)
        .mypage__profile__links__link
          = link_to "予約状況を確認", reserve_user_path(current_user)
        .mypage__profile__links__link
          = link_to "メッセージを確認", edit_user_path(current_user)
  .mypage__posts
    .mypage__posts--title
      投稿一覧
    .mypage__posts__lists
      = render partial: "posts/posts", locals: { posts: @posts }
