%li.studio-list__studios__studio
  = link_to image_tag("/studio_img/#{studio.img}", { border: '0', class: 'studio-list__studios__studio--img'}), studio_path(studio.id)
  = link_to studio.name, studio_path(studio.id), class: "studio-list__studios__studio--name"
  .studio-list__studios__studio--details
    %b GuitarAmp:
    = studio.guitar_amp
    %br
    %b BassAmp:
    = studio.bass_amp
    %br
    %b Drums:
    = studio.drums
    %br
    %b Keybords:
    = studio.keybords